.footer__links {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    justify-content: left;
    row-gap: 32px;
    margin-bottom: 48px;
  }
}
